
// $background-1: white;
$background-1: #b8b8b8;
$background-2: #2e4240;


html{
  width: 100%;
  height: 100%;
}

#root{
  margin: auto;
  margin-right: 0px;
}

body{
  align-items: center
}

.container{
  background-color: black;
  width: 320px;
  height: 100%;
}

.input {
  height: 111px;
  color: white;
  font-size: 40px;
}
.buttoms {
  height: 80%
}
button{
  height: 65px;
  width: 65px;
  border-radius: 50px !important;
  background-color: $background-2;
  color: white;
  font-size: 19px !important;
}

#buttom-←{
  font-size: 35px !important;
  width: 33%;
  // border-radius: 0px !important;  
}

#buttom-His{
  width: 33%;
}

#C{
  width: 33%
}

#buttom-MC{
  background-color: $background-1 ;
  color: black;
}

#buttom-MR{
  background-color: $background-1;  
  color: black  
}

#buttom-MS{
  background-color: $background-1;  
  color: black  
}

#buttom-Mplus{
  background-color: $background-1;  
  color: black  
}

